﻿@model TEMS_BOL.ApprovalBOL
@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> JourneyType = new List<SelectListItem>();
    JourneyType.Add(new SelectListItem { Text = "Single Trip", Value = "0001" });
    JourneyType.Add(new SelectListItem { Text = "Round Trip", Value = "0002" });
    JourneyType.Add(new SelectListItem { Text = "Multicity", Value = "0003" });
}

<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>


<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>



@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>New Expenditure</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Expenditure</a></li>
                    <li class="breadcrumb-item active">New</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("Approve", "Approval", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*--------------- Start 1st Fieldset ---------------*@
                                <fieldset>
                                    <legend>Information:</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.expendeture_no, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.expendeture_no, new { @class = "form-control", @readonly = "readonly", @autofocus = "autofocus"})
                                                @Html.ValidationMessageFor(model => model.expendeture_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.State, new { @class = "control-label astrisk" })
                                                @Html.DropDownListFor(model => model.State, Model.StateList, "--- Select State ---", new { @class = "form-control clsDropdown select2 disabled", @disabled = "disabled" })
                                                <span class="error_form" id="state_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Journey_from, new { @class = "control-label astrisk" })
                                                @Html.DropDownListFor(model => model.Journey_from, Model.CityList, "--- Select City ---", new { @class = "form-control clsDropdown select2 disabled", @disabled = "disabled" })
                                                <span class="error_form" id="Journey_from_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.Journey_from, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Journey_to, new { @class = "control-label astrisk" })
                                                @Html.DropDownListFor(model => model.Journey_to,Model.CityList, "--- Select City ---", new { @class = "form-control clsDropdown select2 disabled", @disabled = "disabled" })
                                                <span class="error_form" id="Journey_to_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.Journey_to, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Journey Type</label>
                                                @Html.DropDownListFor(model => model.Journey_type, JourneyType, "--- Select Journey Type ---", new { @class = "form-control clsDropdown select2 disabled", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(model => model.Journey_to, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.journey_date, new { @class = "control-label astrisk" })
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input type="text" id="journey_date" name="journey_date" value="@Model.journey_date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask readonly ="readonly">
                                                </div>
                                                <span class="error_form" id="journey_date_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.journey_date, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        @*<div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Client Visited</label>
                                                @Html.ListBoxFor(model => model.cilent_visited, Model.CostCenterList, new { @class = "form-control clsDropdown select2", multiple = "multiple", data_placeholder = "Select clients", @readonly = "readonly" })
                                                @Html.ValidationMessageFor(model => model.cilent_visited, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.distance_covered, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.distance_covered, new { @class = "form-control text-right", placeholder = "Enter Total Distance", @readonly = "readonly" })
                                                <span class="error_form" id="stuid_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.distance_covered, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Status, new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.Status, new { @class = "form-control", placeholder = "Enter Total Distance", @readonly = "readonly" })
                                                <span class="error_form" id="stuid_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.car_hire, new { @class = "control-label" })<br />
                                                @Html.CheckBoxFor(model => model.car_hire,new { @readonly = "readonly" })
                                                @*<input type="checkbox" id="car_hire" name="car_hire" value="@Model.car_hire" />*@
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                @*--------------- End 1st Fieldset ---------------*@

                                @*--------------- Start 2nd Fieldset ---------------*@
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <legend>Expendeture Details:</legend>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <table class="table table-striped table-bordered table-hover" id="dataTable">
                                                            <thead>
                                                                <tr>
                                                                    <th class="custom-th text-center">+/-</th>
                                                                    <th class="custom-th text-center astrisk">Project Name</th>
                                                                    <th class="custom-th text-center astrisk">Cost Head</th>
                                                                    <th class="custom-th text-center astrisk">Expenditure Head</th>
                                                                    <th class="custom-th text-center astrisk">Amount</th>
                                                                    @*<th class="custom-th text-center">Allowance</th>
                                                                        <th class="custom-th text-center">Allowed</th>*@
                                                                    <th class="custom-th text-center">Approved</th>
                                                                    <th class="custom-th text-center">Attachment</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody id="datatable_body">
                                                                @if (Model.ExpendetureDetailsList != null)
                                                                {
                                                                    for (int j = 0; j < Model.ExpendetureDetailsList.Count(); j++)
                                                                    {
                                                                        var print_val = j + 1;
                                                                        <tr>
                                                                            <td>
                                                                                @if (j > 0)
                                                                                {
                                                                                    @*<a id="addNew" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>*@
                                                                                    <a id="remove" class="remove btn btn-danger btn-circle"><i class="fa fa-minus"></i></a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a id="addNew" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                                                                                }
                                                                            </td>

                                                                            <td>
                                                                                @Html.DropDownListFor(model => model.ExpendetureDetailsList[j].project, new SelectList(Model.ProjectList, "Value", "Text",Model.ExpendetureDetailsList[j].project), "Select", new { @class = "form-control clsTxtLg clsDropdown select2 disabled", @id = "project_" + j, @Name = "ExpendetureDetailsList[" + j + "].project", @disabled = "disabled" })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[j].project, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.DropDownListFor(model => model.ExpendetureDetailsList[j].Cost_Center, new SelectList(Model.CostCenterList, "Value", "Text", Model.ExpendetureDetailsList[j].Cost_Center), "Select", new { @class = "form-control clsTxtLg clsDropdown select2 disabled", @id = "Cost_Center_" + j, @Name = "ExpendetureDetailsList[" + j + "].Cost_Center", @disabled = "disabled" })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[j].Cost_Center, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.DropDownListFor(model => model.ExpendetureDetailsList[j].ExpendetureFor, new SelectList(Model.PaymentForList, "Value", "Text", Model.ExpendetureDetailsList[j].ExpendetureFor), " -- Select -- ", new { @class = "form-control clsTxtLg clsDropdown select2 disabled", @id = "ExpendetureFor_" + j, @Name = "ExpendetureDetailsList[" + j + "].ExpendetureFor", @disabled = "disabled" })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[j].ExpendetureFor, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.ExpendetureDetailsList[j].expendeture_amount, new { @class = "form-control clsTxtSm text-right", placeholder = "Amount", @id = "expendeture_amount_" + j, @Name = "ExpendetureDetailsList[" + j + "].expendeture_amount"@*, onchange = "amount(this)"*@,@readonly=true })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[j].expendeture_amount, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            
                                                                            <td>
                                                                                @if (Session["ROLLID"].ToString() == "0001" || Session["ROLLID"].ToString() == "0003")
                                                                                {
                                                                                    if (Model.Status == "Submitted")
                                                                                    {
                                                                                        @Html.TextBoxFor(model => model.ExpendetureDetailsList[j].approved_amount, new { @class = "form-control clsTxtSm text-right", @id = "approved_amount_" + j, @Name = "ExpendetureDetailsList[" + j + "].approved_amount", onchange = "allowed(this)" })
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @Html.TextBoxFor(model => model.ExpendetureDetailsList[j].approved_amount, new { @class = "form-control clsTxtSm text-right", @id = "approved_amount_" + j, @Name = "ExpendetureDetailsList[" + j + "].approved_amount", onchange = "allowed(this)", @readonly = true })
                                                                                    }

                                                                                }
                                                                                else
                                                                                {
                                                                                    @Html.TextBoxFor(model => model.ExpendetureDetailsList[j].approved_amount, new { @class = "form-control clsTxtSm text-right", @id = "approved_amount_" + j, @Name = "ExpendetureDetailsList[" + j + "].approved_amount", @readonly = true })
                                                                                }

                                                                            </td>

                                                                            <td>
                                                                                @*@Html.TextBoxFor(model => model.ExpendetureDetailsList[0].expendeture_attachment, new { @class = "form-control clsTxtSm", @type = "file", @id = "expendeture_attachment_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].expendeture_attachment", @readonly = true })*@
                                                                                @if (Model.ExpendetureDetailsList[j].expendeture_attachment != null)
                                                                                {
                                                                                    <center><a href="~/Approval/Download?ID=@Model.ExpendetureDetailsList[j].expendeture_attachment" class="btn btn-success"><i class="fas fa-download fa-xs"></i></a></center>
                                                                                }
                                                                                @*<a href="~/Approval/ViewAttachment?ID=@Model.ExpendetureDetailsList[0].expendeture_attachment" class="btn btn-success"><i class="fas fa-eye fa-xs"></i></a>*@

                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a id="addNew" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                                                                        </td>

                                                                        <td>
                                                                            @Html.DropDownListFor(model => model.ExpendetureDetailsList[0].project, new SelectList(Model.ProjectList, "Value", "Text"), "Select", new { @class = "form-control clsTxtLg clsDropdown select2", @id = "project_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].project"@*, onchange = "CostHeadMapByProject(this)"*@ })
                                                                            @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].project, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.DropDownListFor(model => model.ExpendetureDetailsList[0].Cost_Center, new SelectList(Model.CostCenterList, "Value", "Text", Model.ExpendetureDetailsList[0].Cost_Center), "Select", new { @class = "form-control clsTxtLg clsDropdown select2", @id = "Cost_Center_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].Cost_Center" })
                                                                            @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].Cost_Center, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.DropDownListFor(model => model.ExpendetureDetailsList[0].ExpendetureFor, new SelectList(Model.PaymentForList, "Value", "Text"), " -- Select -- ", new { @class = "form-control clsTxtLg clsDropdown select2", @id = "ExpendetureFor_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].ExpendetureFor", onchange = "allowancefetch(this)" })
                                                                            @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].ExpendetureFor, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.ExpendetureDetailsList[0].expendeture_amount, new { @class = "form-control clsTxtSm text-right", placeholder = "Amount", @id = "expendeture_amount_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].expendeture_amount", onchange = "amount(this)",@readonly=true })
                                                                            @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].expendeture_amount, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        @*<td>
                                                                                @Html.TextBoxFor(model => model.ExpendetureDetailsList[0].expendeture_allowance, new { @class = "form-control clsTxtSm text-right", placeholder = "Allowance", @id = "expendeture_allowance_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].expendeture_allowance", @readonly = "readonly" })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].expendeture_allowance, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.ExpendetureDetailsList[0].expendeture_allowed, new { @class = "form-control clsTxtSm text-right", placeholder = "Allowed", @id = "expendeture_allowed_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].expendeture_allowed", @readonly = "readonly" })
                                                                                @Html.ValidationMessageFor(model => model.ExpendetureDetailsList[0].expendeture_allowed, "", new { @class = "text-danger" })
                                                                            </td>*@
                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.ExpendetureDetailsList[0].approved_amount, new { @class = "form-control clsTxtSm text-right", @id = "approved_amount_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].approved_amount" })
                                                                        </td>
                                                                        <td>
                                                                            @*@Html.TextBoxFor(model => model.ExpendetureDetailsList[0].expendeture_attachment, new { @class = "form-control clsTxtSm", @type = "file", @id = "expendeture_attachment_" + 0, @Name = "ExpendetureDetailsList[" + 0 + "].expendeture_attachment" })*@
                                                                            <a href="">@Model.ExpendetureDetailsList[0].expendeture_attachment</a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                @*--------------- End 2nd Fieldset ---------------*@

                                @*--------------- Start 3rd Fieldset ---------------*@
                                <fieldset id="cardetails">
                                    <legend>Car Details:</legend>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Agency, new { @class = "control-label astrisk" })
                                                @Html.DropDownListFor(model => model.Agency, Model.AgencyList, new { @class = "form-control clsDropdown select2 disabled", @disabled = "disabled" })

                                                @Html.ValidationMessageFor(model => model.Agency, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.car_no, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.car_no, new { @class = "form-control", placeholder = "Enter Car No.", @readonly = true })
                                                <span class="error_form" id="car_no_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.car_no, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.driver_name, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.driver_name, new { @class = "form-control", placeholder = "Enter Driver Name", @readonly = true })
                                                <span class="error_form" id="driver_name_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.driver_name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.car_rental_charge, new { @class = "control-label astrisk " })
                                                @Html.TextBoxFor(model => model.car_rental_charge, new { @class = "form-control text-right", @readonly = true })
                                                <span class="error_form" id="car_rental_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.car_rental_charge, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Car_Mileage, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.Car_Mileage, new { @class = "form-control text-right", @readonly = true })
                                                <span class="error_form" id="Car_Mileage_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.Car_Mileage, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.fuel_rate, new { @class = "control-label astrisk" })
                                                @Html.TextBoxFor(model => model.fuel_rate, new { @class = "form-control text-right", @readonly = true })
                                                <span class="error_form" id="fuel_rate_error_message"></span>
                                                @Html.ValidationMessageFor(model => model.fuel_rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Car Rent Recipt</label><br />
                                                @if (Model.car_rent_recipt != null)
                                                {
                                                    <a href="~/Approval/Download?ID=@Model.car_rent_recipt" class="btn btn-success"><i class="fas fa-download fa-xs"></i></a>
                                                }
                                                @*<a href="~/Approval/ViewAttachment?ID=@Model.car_rent_recipt" class="btn btn-success"><i class="fas fa-eye fa-xs"></i></a>*@

                                                @Html.ValidationMessageFor(model => model.fuel_rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Fuel Charge Recipt</label><br />
                                                @if (Model.fuel_cost_receipt != null)
                                                {
                                                    <a href="~/Approval/Download?ID=@Model.fuel_cost_receipt" class="btn btn-success"><i class="fas fa-download fa-xs"></i></a>
                                                }
                                                @*<a href="~/Approval/ViewAttachment?ID=@Model.fuel_cost_receipt" class="btn btn-success"><i class="fas fa-eye fa-xs"></i></a>*@

                                                @Html.ValidationMessageFor(model => model.fuel_rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Toll Tax Recipt</label><br />
                                                @if (Model.toll_tax_recipt != null)
                                                {
                                                    <a href="~/Approval/Download?ID=@Model.toll_tax_recipt" class="btn btn-success"><i class="fas fa-download fa-xs"></i></a>
                                                }
                                                @*<a href="~/Approval/ViewAttachment?ID=@Model.toll_tax_recipt" class="btn btn-success"><i class="fas fa-eye fa-xs"></i></a>*@

                                                @Html.ValidationMessageFor(model => model.fuel_rate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                @*--------------- End 3rd Fieldset ---------------*@

                                @*--------------- Start 4th Fieldset ---------------*@

                                <div class="row" id="carexpendetire">
                                    <div class="col-md-12">
                                        <fieldset>
                                            <legend>Car Expendeture Details:</legend>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <table class="table table-striped table-bordered table-hover" id="dataTableCarExpendetureDetails">
                                                            <thead>
                                                                <tr>
                                                                    <th class="custom-th text-center">+/-</th>
                                                                    <th class="custom-th text-center astrisk">Cost Head</th>
                                                                    <th class="custom-th text-center astrisk">Distance Travel</th>
                                                                    <th class="custom-th text-center astrisk">Fuel Cost</th>
                                                                    <th class="custom-th text-center astrisk">Car Rental</th>
                                                                    <th class="custom-th text-center">Toll Tax</th>
                                                                    <th class="custom-th text-center">Total</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody id="datatable_body">
                                                                @if (Model.CarExpendetureList != null)
                                                                {
                                                                    for (int j = 0; j < Model.CarExpendetureList.Count(); j++)
                                                                    {
                                                                        var print_val = j + 1;
                                                                        <tr>
                                                                            <td>
                                                                                @if (j > 0)
                                                                                {
                                                                                    @*<a id="addNewCarDetails" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>*@
                                                                                    <a id="removeCarDetails" class="remove btn btn-danger btn-circle"><i class="fa fa-minus"></i></a>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <a id="addNewCarDetails" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                                                                                }
                                                                            </td>

                                                                            <td>
                                                                                @Html.DropDownListFor(model => model.CarExpendetureList[j].Cost_Center, new SelectList(Model.CostCenterList, "Value", "Text", Model.CarExpendetureList[j].Cost_Center), "Select", new { @class = "form-control clsTxtLg clsDropdown select2 disabled", @id = "Cost_Center_CarDetails_" + j, @Name = "CarExpendetureList[" + j + "].Cost_Center",@disabled = true })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].Cost_Center, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.CarExpendetureList[j].distance_travel, new { @class = "form-control clsTxtSm text-right", placeholder = "Distance Travel", @id = "distance_travel_" + j, @Name = "CarExpendetureList[" + j + "].distance_travel", @readonly = true })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].distance_travel, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.CarExpendetureList[j].fuel_cost_for_cost_center, new { @class = "form-control clsTxtSm text-right", placeholder = "Fuel Cost", @id = "fuel_cost_for_cost_center_" + j, @Name = "CarExpendetureList[" + j + "].fuel_cost_for_cost_center", @readonly = "readonly" })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].fuel_cost_for_cost_center, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.CarExpendetureList[j].car_rent_for_cost_center, new { @class = "form-control clsTxtSm text-right", placeholder = "Car Rent", @id = "car_rent_for_cost_center_" + j, @Name = "CarExpendetureList[" + j + "].car_rent_for_cost_center", @readonly = true })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].car_rent_for_cost_center, "", new { @class = "text-danger" })
                                                                            </td>

                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.CarExpendetureList[j].toll_tax, new { @class = "form-control clsTxtSm text-right", placeholder = "Enter Toll Tax", @id = "toll_tax_" + j, @Name = "CarExpendetureList[" + j + "].toll_tax", @readonly = true })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].toll_tax, "", new { @class = "text-danger" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.TextBoxFor(model => model.CarExpendetureList[j].total, new { @class = "form-control clsTxtSm text-right", placeholder = "Total", @id = "total_" + j, @Name = "CarExpendetureList[" + j + "].total", @readonly = "readonly" })
                                                                                @Html.ValidationMessageFor(model => model.CarExpendetureList[j].total, "", new { @class = "text-danger" })
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <a id="addNewCarDetails" class="addNew btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
                                                                        </td>

                                                                        <td>
                                                                            @Html.DropDownListFor(model => model.CarExpendetureList[0].Cost_Center, new SelectList(Model.CostCenterList, "Value", "Text"), "Select", new { @class = "form-control clsTxtLg clsDropdown select2", @id = "Cost_Center_CarDetails_" + 0, @Name = "CarExpendetureList[" + 0 + "].Cost_Center" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].Cost_Center, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.CarExpendetureList[0].distance_travel, new { @class = "form-control clsTxtSm text-right", placeholder = "Distance Travel", @id = "distance_travel_" + 0, @Name = "CarExpendetureList[" + 0 + "].distance_travel", onchange = "DistanceTravel(this)" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].distance_travel, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.CarExpendetureList[0].fuel_cost_for_cost_center, new { @class = "form-control clsTxtSm text-right", placeholder = "Fuel Cost", @id = "fuel_cost_for_cost_center_" + 0, @Name = "CarExpendetureList[" + 0 + "].fuel_cost_for_cost_center", @readonly = "readonly", onchange = "FuelCost(this)" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].fuel_cost_for_cost_center, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.CarExpendetureList[0].car_rent_for_cost_center, new { @class = "form-control clsTxtSm text-right", placeholder = "Car Rent", @id = "car_rent_for_cost_center_" + 0, @Name = "CarExpendetureList[" + 0 + "].car_rent_for_cost_center", onchange = "CarRent(this)" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].car_rent_for_cost_center, "", new { @class = "text-danger" })
                                                                        </td>

                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.CarExpendetureList[0].toll_tax, new { @class = "form-control clsTxtSm text-right", placeholder = "Toll Tax", @id = "toll_tax_" + 0, @Name = "CarExpendetureList[" + 0 + "].toll_tax", onchange = "TollTax(this)" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].toll_tax, "", new { @class = "text-danger" })
                                                                        </td>
                                                                        <td>
                                                                            @Html.TextBoxFor(model => model.CarExpendetureList[0].total, new { @class = "form-control clsTxtSm text-right", placeholder = "Total", @id = "total_" + 0, @Name = "CarExpendetureList[" + 0 + "].total", @readonly = "readonly" })
                                                                            @Html.ValidationMessageFor(model => model.CarExpendetureList[0].total, "", new { @class = "text-danger" })
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                @*--------------- End 4th Fieldset ---------------*@

                                @*--------------- Start 5th Fieldset ---------------*@

                                <fieldset>
                                    <legend>Remarks:</legend>
                                    <div class="row">
                                        <label>User Reamrks</label>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea rows="3" name="Remarks" style="width:100%" readonly>@Model.Remarks</textarea>
                                            </div>
                                        </div>
                                        @if (Model.Status == "Submitted")
                                        {
                                            <label>Approver Reamrks</label>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea rows="3" name="ApproverRemarks" style="width:100%" placeholder="Enter text here..."></textarea>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <label>Approver Reamrks</label>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea rows="3" name="ApproverRemarks" style="width:100%" readonly>@Model.ApproverRemarks</textarea>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </fieldset>

                                @*--------------- End 5th Fieldset ---------------*@

                                @*--------------- Modal For Save ---------------*@
                                <div class="modal" id="submitbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                Do You Want To Approve???
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <button class="btn btn-success" onclick="fxSubmit()">Approve</button>
                                                <button type="submit" value="Submit" id="btnSubmit" class="btn btn-success" style="display:none">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*--------------- Buttons ---------------*@
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="form-group top30">
                                        <a class="btn btn-info" href="javascript:history.go(-1)">Back to List</a>
                                        @if (Session["ROLLID"].ToString() == "0001" || Session["ROLLID"].ToString() == "0003")
                                        {
                                            if (Model.Status == "Submitted")
                                            {
                                                <a href="~/Approval/Decline?ID=@Model.expendeture_no" class="btn btn-danger">Decline</a>
                                                <button class="btn btn-success" data-toggle="modal" data-target="#submitbutton">Approve</button>
                                            }

                                        }
                                        else
                                        {
                                            if (Model.Status == "Submitted")
                                            {
                                                <a href="~/Approval/Delete?ID=@Model.expendeture_no" class="btn btn-danger">Delete</a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script>

    $(document).ready(function () {
        //$("form").attr('autocomplete', 'off');
        $('[data-mask]').inputmask();
        $('.select2').select2();
        $('#cardetails').hide();
        $('#carexpendetire').hide();
    });
    
    $(function () {
        if ($("#car_hire").is(':checked')) {
            $('#cardetails').show();
            $('#carexpendetire').show();
        }
    })
    function fxSubmit() {
        $("select.disabled").attr("disabled", false);
        setTimeout(function () {
            $("select.disabled").attr("disabled", true);
        }, 500);
        $("#btnSubmit").click();
    } 

    

    //var b;
    //function allowancefetch(Expenditure_ID) {
    //    var ExpId = $(Expenditure_ID).attr("id");
    //    var ExpIndex = ExpId.split("_");
    //    $.get("./GetAllowance", { Expenditure_ID: $(Expenditure_ID).val() }, function (data) {
            
    //        b = (data[0].ALLOWANCE_AMOUNT.toFixed(2));
    //        console.log(b);

    //        //b.trigger("change");
    //    });
    //}

    function allowed(Amount_ID) {
        var AmtId = $(Amount_ID).attr("id");
        var AmtIndex = AmtId.split("_");
        $(Amount_ID).val(parseFloat($(Amount_ID).val()).toFixed(2));
        var a = $(Amount_ID).val();
        //console.log(a);

        var b = $("#expendeture_amount_" + AmtIndex[2]).val();
        //console.log(b);
        if ($("#ExpendetureFor_" + AmtIndex[2]).val() == "0006" || $("#ExpendetureFor_" + AmtIndex[2]).val() == "0007") {
            if (parseFloat(a) > parseFloat(b)) {
                $("#approved_amount_" + AmtIndex[2]).val(b);
            }
            else {
                $("#approved_amount_" + AmtIndex[2]).val(a);

            }
        }

    }
        

    $('input[type=text]').keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    $('input[type=number]').keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
    $(".clsDropdown").keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });

    $('input[type=checkbox]').keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });    
</script>


