﻿@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*:root {
    --main-bg-color: #32ade1;
}*/

html, body {
    min-height: 100%;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-image: url('images/bg-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0px 20px;
}

a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.center-box {
    max-width: 550px;
    margin: 0px auto;
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 2px #333;
}

input, select, textarea {
    max-width: 100%;
}

.center-box > h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.body-content {
    background-color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 15px;
}

.page-title {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #31b0d5;
}

.product-title {
    font-size: 16px;
    font-weight: 600;
    vertical-align: top;
}

.product-description {
    text-align: justify;
}

.divFeeDetails {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #31b0d5;
}

.clsSchoolInfo {
    font-size: 20px;
    font-weight: 600;
    vertical-align: top;
}

.divMsg {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: #e309f7;
    text-align: center
}

.divMoney {
    font-weight: 600;
    display: inline-block;
    width: 100%;
    color: #e309f7;
    text-align: center
}

.P_Money {
    font-size: 40px;
}

.divLogout {
    padding: 10px 5px 5px 5px;
    font-size: 16px;
}

.clsLogout {
    background-color: #fff;
    text-decoration: none;
}

.clsProductLogoLogin {
    max-width: 250px;
    margin: auto;
}

.clsProductLogo {
    max-height: 50px;
}

.clsTopBar {
    background-color: #fff;
    height: 50px;
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0px;
}

.divReport {
    overflow: auto;
    padding: 5px 10px 5px 10px;
}

.marButtom-10 {
    margin-bottom: 10px;
}

/*Start For Side Menu*/
.sdmnupo {
    cursor: pointer;
    float: right;
    margin: 10px 21px 0px 0px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: #32ade1;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    padding-top: 10px;
}

    .sidenav .closebtn {
        position: absolute;
        top: 0px;
        right: 20px;
        font-size: 35px;
        margin-left: 50px;
        border-bottom: 0px solid transparent;
        color: #161616;
    }

.closebtn:hover {
    text-decoration: none;
}

.navigation {
    width: 100%;
}

.mainmenu {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    background: #d91dfc;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 30px;
}

.mainmenu a {
    display: block;
    padding: 10px 15px 10px 35px;
    text-decoration: none;
    font-size: 16px;
    color: #161616;
    text-align: left;
    transition: 0.3s;
    border-bottom: 1px solid #32ade1;
    cursor: pointer;
}

    .mainmenu a:hover {
        background-color: #c831f6;
        color: #fff;
    }

.mainmenu li:hover .submenu {
    display: block;
    max-height: 260px;
    overflow-y: auto;
}

.submenu a {
    background: #32ade1;
    color: #fff;
    border-bottom: 4px solid #d91dfc;
}

    .submenu a:hover {
        background-color: #c549a5;
    }

.submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.Menu-link {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}

    .Menu-link:hover {
        color: #000000;
        font-size: 18px;
        text-decoration: none;
    }

.font25 {
    font-size: 25px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 11px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
/*End For Side Menu*/

/*Login Page*/

.loginlogo {
    text-align: center;
    padding: 5% 0 1px;
}

    .loginlogo img {
        width: 250px;
    }

.loginborder {
    width: 400px;
    padding: 17px;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    border-radius: 8px;
    margin-top: 20px;
}

.login-inner {
    background: #fff;
    padding: 26px;
}

.loginheading {
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

    .loginheading p {
        font-size: 15px;
        font-weight: normal;
        text-transform: none;
    }

.reset {
    padding: 10px 20px;
    width: 48%;
    float: left;
    background: #e6e4e4;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
}

.login {
    padding: 10px 20px;
    width: 48%;
    float: right;
    background: #e6e4e4;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
}

@media screen and (max-width: 400px) {
    .loginborder {
        width: 300px;
    }
}

/*Login Page*/



.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    background: #9152f8;
}

.login-form-btn {
    font-weight: bold;
    font-size: 18px;
    /*color: #555555;*/
    color: white;
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #9152f8;
    background: -webkit-linear-gradient(bottom, #7579ff, #b224ef);
    background: -o-linear-gradient(bottom, #7579ff, #b224ef);
    background: -moz-linear-gradient(bottom, #7579ff, #b224ef);
    background: linear-gradient(bottom, #7579ff, #b224ef);
    position: relative;
    /*z-index: 1;*/
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
}
    .login100-form-btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        color: #fff;
    }

        .login100-form-btn:hover:before {
            opacity: 0;
        }

button {
    outline: none !important;
    border: none;
    background: transparent;
}

    button:hover {
        cursor: pointer;
    }