﻿@model TEMS_BOL.ExpendetureReportBOL
@{
    ViewBag.Title = "Expendeture";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> ReportForList = new List<SelectListItem>();
    ReportForList.Add(new SelectListItem { Text = "Agency", Value = "Agency" });
    ReportForList.Add(new SelectListItem { Text = "Employee", Value = "Employee" });

    List<SelectListItem> ReportTypeList = new List<SelectListItem>();
    ReportTypeList.Add(new SelectListItem { Text = "Summary", Value = "Summary" });
    ReportTypeList.Add(new SelectListItem { Text = "Details", Value = "Details" });
}


<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>

<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Expendeture List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Report</a></li>
                    <li class="breadcrumb-item active">Expendeture</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("Expendeture", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()

                                <fieldset>
                                    <legend>Search Expendeture:</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ExpendetureNo, htmlAttributes: new { @class = "control-label" })
                                                @Html.TextBoxFor(model => model.ExpendetureNo, new { @class = "form-control", placeholder = "Expendeture No", onchange = "SearchExpendeture()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ReportFor, htmlAttributes: new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.ReportFor, ReportForList, "All", new { @class = "form-control clsDropdown select2", @onchange = "fxReportFor()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 clsEmployeeOrAgencyName">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeOrAgencyName, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.EmployeeOrAgencyName, Model.EmployeeAgencyNameList, "All", new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 clsAgency">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AgencyName, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.AgencyName, Model.AgencyNameList, "All", new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 clsEmployee">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.EmployeeName, Model.EmployeesNameList, "All", new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.ReportType, ReportTypeList, new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>From Date <i class="fa fa-times text-red" onclick="fxResetDateFilter()"></i> </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control float-right", placeholder = "From Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>To Date <i class="fa fa-times text-red" onclick="fxResetDateFilter()"></i> </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control float-right", placeholder = "To Date" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right top30">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                            <button type="submit" class="btn btn-success" id="btnSearch">Search</button>
                                        </div>
                                    </div>

                                </fieldset>
                            }
                        </div>
                    </div>
                    @if (Model.ReportType != null && Model.ReportType == "Summary")
                    {
                        <fieldset>
                            <legend>Expendeture Summary Search Results:</legend>
                            <div class="row">
                                <div class="col-12">
                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="custom-th">Sl. No.</th>
                                                <th class="custom-th">Expendeture No</th>
                                                <th class="custom-th">Report For</th>
                                                <th class="custom-th">Name</th>
                                                <th class="custom-th">Voucher Date</th>
                                                <th class="custom-th">Entry Amount</th>
                                                <th class="custom-th">Claimed Amount</th>
                                                <th class="custom-th">Approved Amount</th>
                                                <th class="custom-th">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ExpendetureSummaryReportList != null)
                                            {
                                                if (Model.ExpendetureSummaryReportList.Count > 0)
                                                {
                                                    int RecordCount = 1;
                                                    foreach (var item in Model.ExpendetureSummaryReportList)
                                                    {
                                                        <tr>
                                                            <td class="custom-th text-center"> @(RecordCount)</td>
                                                            <td class="custom-th">@(item.ExpendetureNo == null ? "" : item.ExpendetureNo)</td>
                                                            <td class="custom-th">@(item.ReportFor == null ? "" : item.ReportFor)</td>
                                                            <td class="custom-th">@(item.Name == null ? "" : item.Name)</td>
                                                            <td class="custom-th">@(item.VoucherDate == null ? "" : item.VoucherDate.ToString("dd/MM/yyyy"))</td>
                                                            <td class="custom-th text-right">@(item.EntryAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.ClaimedAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.ApprovedAmount.ToString("0.00"))</td>
                                                            <td class="custom-th">@(item.Status == null ? "" : item.Status)</td>
                                                        </tr>
                                                        RecordCount = RecordCount + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    }
                    @if (Model.ReportType != null && Model.ReportType == "Details")
                    {
                        <fieldset>
                            <legend>Expendeture Details Search Results:</legend>
                            <div class="row">
                                <div class="col-12">
                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="custom-th">Sl. No.</th>
                                                <th class="custom-th">Expendeture No</th>
                                                <th class="custom-th">Report For</th>
                                                <th class="custom-th">Name</th>
                                                <th class="custom-th">Voucher Date</th>
                                                <th class="custom-th">Expendeture Head</th>
                                                <th class="custom-th">Entry Amount</th>
                                                <th class="custom-th">Claimed Amount</th>
                                                <th class="custom-th">Approved Amount</th>
                                                <th class="custom-th">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ExpendetureDetailsReportList != null)
                                            {
                                                if (Model.ExpendetureDetailsReportList.Count > 0)
                                                {
                                                    int RecordCount = 1;
                                                    foreach (var item in Model.ExpendetureDetailsReportList)
                                                    {
                                                        <tr>
                                                            <td class="custom-th text-center"> @(RecordCount)</td>
                                                            <td class="custom-th">@(item.ExpendetureNo == null ? "" : item.ExpendetureNo)</td>
                                                            <td class="custom-th">@(item.ReportFor == null ? "" : item.ReportFor)</td>
                                                            <td class="custom-th">@(item.Name == null ? "" : item.Name)</td>
                                                            <td class="custom-th">@(item.VoucherDate == null ? "" : item.VoucherDate.ToString("dd/MM/yyyy"))</td>
                                                            <td class="custom-th">@(item.ExpendetureHead == null ? "" : item.ExpendetureHead)</td>
                                                            <td class="custom-th text-right">@(item.EntryAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.ClaimedAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.ApprovedAmount.ToString("0.00"))</td>
                                                            <td class="custom-th">@(item.Status == null ? "" : item.Status)</td>
                                                        </tr>
                                                        RecordCount = RecordCount + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $('[data-mask]').inputmask();
        $('.select2').select2();

        if ($("#ReportFor").val() == "Employee") {
            $(".clsEmployee").show();
            $(".clsAgency").hide();
            $(".clsEmployeeOrAgencyName").hide();
            $("#EmployeeOrAgencyName").select2('val', 0);
            $("#AgencyName").select2('val', 0);
        }
        else if ($("#ReportFor").val() == "Agency") {
            $(".clsEmployeeOrAgencyName").hide();
            $(".clsEmployee").hide();
            $("#EmployeeOrAgencyName").select2('val', 0);
            $("#EmployeeName").select2('val', 0);
            $(".clsAgency").show();

        }
        else {
            $(".clsEmployee").hide();
            $(".clsAgency").hide();
            $("#AgencyName").select2('val', 0);
            $("#EmployeeName").select2('val', 0);
            $(".clsEmployeeOrAgencyName").show();
        }

        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "responsive": true,
            "aaSorting": [],
            "buttons": ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example2_wrapper .col-md-6:eq(0)');


    });

    $('#FromDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true
    });

    $('#ToDate').datepicker({
        format: "dd-M-yyyy",
        autoclose: true
    });


    function fxResetDateFilter() {
        $("#FromDate").val("");
        $("#ToDate").val("");
    }

    function fxResetFieldValue() {
        $('input[type=text]').val("");
        $(".clsDropdown").val("");
        $('.select2').select2();
    }

    function fxReportFor() {
        if ($("#ReportFor").val() == "Employee") {
            $(".clsEmployee").show();
            $(".clsAgency").hide();
            $(".clsEmployeeOrAgencyName").hide();
            $("#EmployeeOrAgencyName").select2('val', 0);
            $("#AgencyName").select2('val', 0);
        }
        else if ($("#ReportFor").val() == "Agency") {
            $(".clsEmployeeOrAgencyName").hide();
            $(".clsEmployee").hide();
            $("#EmployeeOrAgencyName").select2('val', 0);
            $("#EmployeeName").select2('val', 0);
            $(".clsAgency").show();

        }
        else {
            $(".clsEmployee").hide();
            $(".clsAgency").hide();
            $("#AgencyName").select2('val', 0);
            $("#EmployeeName").select2('val', 0);
            $(".clsEmployeeOrAgencyName").show();
        }
    }

    function SearchExpendeture() {
        if ($("#ExpendetureNo").val() != null && $("#ExpendetureNo").val() != "") {
            $("#EmployeeOrAgencyName").val("");
            $("#AgencyName").val("");
            $("#EmployeeName").val("");
            $("#FromDate").val("");
            $("#ToDate").val("");
            $("#FromDate").prop("disabled", true);
            $("#ToDate").prop("disabled", true);

            $("#btnSearch").click();
        }
        else {
            return true;
        }
    }

</script>

