﻿@model TEMS_BOL.LedgerBOL
@{
    ViewBag.Title = "Ledger";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> LedgerForList = new List<SelectListItem>();
    LedgerForList.Add(new SelectListItem { Text = "Agency", Value = "Agency" });
    LedgerForList.Add(new SelectListItem { Text = "Employee", Value = "Employee" });

    List<SelectListItem> ReportTypeList = new List<SelectListItem>();
    ReportTypeList.Add(new SelectListItem { Text = "Summary", Value = "Summary" });
    ReportTypeList.Add(new SelectListItem { Text = "Details", Value = "Details" });
}

<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>

<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ledger List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Report</a></li>
                    <li class="breadcrumb-item active">Ledger</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("Ledger", "Report", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()

                                <fieldset>
                                    <legend>Search Ledger:</legend>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LedgerFor, htmlAttributes: new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.LedgerFor, LedgerForList, new { @class = "form-control clsDropdown select2", @onchange = "fxLedgerFor()" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 clsAgency">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AgencyName, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.AgencyName, Model.AgencyNameList, "-- Select Agency --", new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-3 clsEmployee">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label" })
                                                @Html.DropDownListFor(model => model.EmployeeName, Model.EmployeesNameList, "-- Select Employee --", new { @class = "form-control clsDropdown select2" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 clsReportType">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ReportType, htmlAttributes: new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.ReportType, ReportTypeList, new { @class = "form-control clsDropdown select2 ReportTypedisabled", @disabled = "disabled" })
                                            </div>
                                        </div>
                                        <div class="col-md-2 marButtom-10">
                                            <div class="form-group">
                                                <label>From Date <i class="fa fa-times text-red" onclick="fxResetDateFilter()"></i> </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control float-right", placeholder = "From Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 marButtom-10">
                                            <div class="form-group">
                                                <label>To Date <i class="fa fa-times text-red" onclick="fxResetDateFilter()"></i> </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control float-right", placeholder = "To Date" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-right top30">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                            <button type="button" class="btn btn-success" onclick="fxSearch()">Search</button>
                                            <button type="submit" value="Submit" id="btnSearch" class="btn btn-success" style="display:none">Search</button>
                                        </div>
                                    </div>

                                </fieldset>
                            }
                        </div>
                    </div>
                    @if (Model.ReportType != null && Model.ReportType == "Details")
                    {
                        <fieldset>
                            <legend>Details Results:</legend>
                            <div class="row">
                                <div class="col-12">
                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="custom-th">Sl. No.</th>
                                                <th class="custom-th">Date</th>
                                                <th class="custom-th">Transaction Date</th>
                                                <th class="custom-th">Particulars</th>
                                                <th class="custom-th">Debit (Rs.)</th>
                                                <th class="custom-th">Credit (Rs.)</th>
                                                <th class="custom-th">Balance (Rs.)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.LedgerDetailsReportList != null)
                                            {
                                                if (Model.LedgerDetailsReportList.Count > 0)
                                                {
                                                    int RecordCount = 1;
                                                    foreach (var item in Model.LedgerDetailsReportList.OrderBy(x => x.CreatedDate))
                                                    {
                                                        <tr>
                                                            <td class="custom-th text-center"> @(RecordCount)</td>
                                                            <td class="custom-th">@(item.CreatedDate == null ? "" : item.CreatedDate.ToString("dd/MM/yyyy"))</td>
                                                            <td class="custom-th">@(item.TransactionDate == null ? "" : item.TransactionDate)</td>
                                                            <td class="custom-th">@(item.Particulars == null ? "" : item.Particulars)</td>
                                                            <td class="custom-th text-right">@(item.DebitAmount == 0 ? "" : item.DebitAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.CreditAmount == 0 ? "" : item.CreditAmount.ToString("0.00"))</td>
                                                            @if (item.BalanceAmount >= 0)
                                                            {
                                                                <td class="custom-th text-right">@(item.BalanceAmount.ToString("0.00")) Cr.</td>
                                                            }
                                                            else
                                                            {
                                                                item.BalanceAmount = item.BalanceAmount * (-1);
                                                                <td class="custom-th text-right">@(item.BalanceAmount.ToString("0.00")) Dr.</td>
                                                            }
                                                        </tr>
                                                        RecordCount = RecordCount + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    }
                    else
                    {
                        <fieldset>
                            <legend>Summary Results:</legend>
                            <div class="row">
                                <div class="col-12">
                                    <table id="example2" class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th class="custom-th">Sl. No.</th>
                                                <th class="custom-th">Date</th>
                                                <th class="custom-th">Transaction Date</th>
                                                <th class="custom-th">Particulars</th>
                                                <th class="custom-th">Debit (Rs.)</th>
                                                <th class="custom-th">Credit (Rs.)</th>
                                                <th class="custom-th">Balance (Rs.)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.LedgerSummaryReportList != null)
                                            {
                                                if (Model.LedgerSummaryReportList.Count > 0)
                                                {
                                                    int RecordCount = 1;
                                                    foreach (var item in Model.LedgerSummaryReportList)
                                                    {
                                                        <tr>
                                                            <td class="custom-th text-center"> @(RecordCount)</td>
                                                            <td class="custom-th">@(item.CreatedDate == null ? "" : item.CreatedDate)</td>
                                                            <td class="custom-th">@(item.TransactionDate == null ? "" : item.TransactionDate)</td>
                                                            <td class="custom-th">@(item.Particulars == null ? "" : item.Particulars)</td>
                                                            <td class="custom-th text-right">@(item.DebitAmount == 0 ? "" : item.DebitAmount.ToString("0.00"))</td>
                                                            <td class="custom-th text-right">@(item.CreditAmount == 0 ? "" : item.CreditAmount.ToString("0.00"))</td>
                                                            @if (item.BalanceAmount >= 0)
                                                            {
                                                                <td class="custom-th text-right">@(item.BalanceAmount.ToString("0.00")) Cr.</td>
                                                            }
                                                            else
                                                            {
                                                                item.BalanceAmount = item.BalanceAmount * (-1);
                                                                <td class="custom-th text-right">@(item.BalanceAmount.ToString("0.00")) Dr.</td>
                                                            }
                                                        </tr>
                                                        RecordCount = RecordCount + 1;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </fieldset>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $(document).ready(function () {

        $('[data-mask]').inputmask();
        $('.select2').select2();

        if ($("#LedgerFor").val() == "Employee") {
            $(".clsEmployee").show();
            $(".clsAgency").hide();
        }
        else if ($("#LedgerFor").val() == "Agency") {
            $(".clsEmployee").hide();
            $(".clsAgency").show();
        }
        else {
            $(".clsEmployee").hide();
            $(".clsAgency").hide();
        }

        if ($("#LedgerFor").val() != null && $("#LedgerFor").val() == "Agency") {
            $("select.ReportTypedisabled").attr("disabled", false);
        }
        else {
            $("#ReportType").val("Summary").trigger('change');
            $("select.ReportTypedisabled").attr("disabled", true);
        }

        var table = $('#example2').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": false,
            "autoWidth": true,
            "responsive": true,
            "aaSorting": [],
            "buttons": ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example2_wrapper .col-md-6:eq(0)');


    });

    $('#FromDate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2019,
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });

    $('#ToDate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2019,
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        locale: {
            format: 'DD-MMM-YYYY'
        }
    });


    function fxResetDateFilter() {
        $("#FromDate").val("");
        $("#ToDate").val("");
    }

    function fxResetFieldValue() {
        $('input[type=text]').val("");
        $(".clsDropdown").val("");
        $('.select2').select2();
    }

    function fxLedgerFor() {
        if ($("#LedgerFor").val() == "Employee") {
            $(".clsEmployee").show();
            $(".clsAgency").hide();
        }
        else if ($("#LedgerFor").val() == "Agency") {
            $(".clsEmployee").hide();
            $(".clsAgency").show();
        }
        else {
            $(".clsEmployee").hide();
            $(".clsAgency").hide();
        }
    }

    $("#LedgerFor").change(function () {
        if ($("#LedgerFor").val() != null && $("#LedgerFor").val() == "Agency") {
            $("select.ReportTypedisabled").attr("disabled", false);
        }
        else {
            $("#ReportType").val("Summary").trigger('change');
            $("select.ReportTypedisabled").attr("disabled", true);
        }
    });

    function fxSearch() {
        $("select.ReportTypedisabled").attr("disabled", false);
        setTimeout(function () {
            $("select.ReportTypedisabled").attr("disabled", true);
        }, 500);
        $("#btnSearch").click();
    }
</script>
