﻿@if(Session["USERID"] == null)
{
    Response.Redirect("~/Login/login");
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <link href="/Content/images/favicon.png" rel="icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165383603-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-165383603-2');
    </script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">


    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>


    <style>
        .top30 {
            margin-top: 30px;
        }

        .astrisk:before {
            content: "*";
            font-weight: bold;
            color: #A94442;
            font-size: 18px;
        }

        .nav-sidebar > .nav-item > .nav-treeview {
            margin-left: 25px;
        }
    </style>
</head>
<body class="sidebar-mini layout-fixed" style="height:auto">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>
            <!-- SEARCH FORM -->
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a href="/User/Dashboard" class="nav-link text-success" title="Home">
                        <i class="fa fa-2x fa-home"></i>
                    </a>
                </li>
                @*<li class="nav-item">
                    <a href="/User/Profile" class="nav-link text-primary" title="Profile">
                        <i class="fa fa-2x fa-user"></i>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a href="~/Login/Logout" class="nav-link text-danger" title="Log Out">
                        <i class="fa fa-2x fa-power-off"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a class="d-block" style="color:white">
                            Tour Expenditure Management<br />
                            System
                        </a>
                    </div>
                </div>            
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel pb-3 mb-3 d-flex">
                    <div class="user-info">
                        <a class="d-block">
                            Welcome: @Session["USERNAME"]
                        </a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/Login/Dashboard" class="nav-link active">
                                <i class="fas fa-tachometer-alt nav-icon"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fa fa-pencil-alt nav-icon"></i>
                                <p>
                                    Master
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @if (Session["ROLLID"].ToString() == "0003")
                                {
                                    <li class="nav-item">
                                        <a href="~/Master/UserList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>User</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Master/AgencyList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>Agency</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Master/ProjectList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>Project</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Master/DistrictList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>District</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Master/CityList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>City</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="~/Master/CostCenterList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>Cost Center</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>
                                    Map
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                @if (Session["ROLLID"].ToString() == "0003")
                                {
                                    <li class="nav-item">
                                        <a href="~/Map/CostCenterProjectList" class="nav-link">
                                            <i class="fa fa-hand-point-right nav-icon"></i>
                                            <p>Cost Center - Project</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Transaction
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/Expendeture/search" class="nav-link">
                                        <i class="fa fa-money-check-alt nav-icon"></i>
                                        <p>Expenditure</p>
                                    </a>
                                </li>

                                @if (Session["ROLLID"].ToString() != "0002")
                                {
                                    <li class="nav-item">
                                        <a href="~/Payment/SearchPayment" class="nav-link">
                                            <i class="fa fa-money-check-alt nav-icon"></i>
                                            <p>Payment</p>
                                        </a>
                                    </li>
                                }



                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Report
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/Report/Expendeture" class="nav-link">
                                        <i class="fa fa-hand-point-right nav-icon"></i>
                                        <p>Expendeture</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Report/Ledger" class="nav-link">
                                        <i class="fa fa-hand-point-right nav-icon"></i>
                                        <p>Ledger</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Report/Register" class="nav-link">
                                        <i class="fa fa-hand-point-right nav-icon"></i>
                                        <p>Register</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Report/Transaction" class="nav-link">
                                        <i class="fa fa-hand-point-right nav-icon"></i>
                                        <p>Transaction</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2020-2021 <a href="#">Softthink</a>.</strong>
        All rights reserved.Version: @typeof(TEMS.MvcApplication).Assembly.GetName().Version
        <div class="float-right d-none d-sm-inline-block">

        </div>
    </footer>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->





    <script>
            $(document).ready(function () {
                $("form").attr('autocomplete', 'off');

            });



            function openNav() {
                document.getElementById("Sidenav").style.width = "96%";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }

            function closeNav() {
                document.getElementById("Sidenav").style.width = "0";
                document.body.style.backgroundColor = "white";
            }

    </script>



</body>
</html>

