﻿@model TEMS_BOL.PayAmountBOL
@{
    ViewBag.Title = "PayAmount";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> PaymentTypeData = new List<SelectListItem>();

    PaymentTypeData.Add(new SelectListItem { Text = "Against Exp", Value = "Against Exp" });
    PaymentTypeData.Add(new SelectListItem { Text = "Advance", Value = "Advance" });

    List<SelectListItem> PaymentMode = new List<SelectListItem>();
    PaymentMode.Add(new SelectListItem { Text = "Online", Value = "Online" });
    PaymentMode.Add(new SelectListItem { Text = "Cash", Value = "Cash" });


    List<SelectListItem> PaymentForList = new List<SelectListItem>();
    PaymentForList.Add(new SelectListItem { Text = "Employee", Value = "Employee" });
    PaymentForList.Add(new SelectListItem { Text = "Agency", Value = "Agency" });

}

<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>


<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>New Payment</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Payment</a></li>
                    <li class="breadcrumb-item active">New</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("PayAmount", "Payment", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*--------------- Start 1st Fieldset ---------------*@
                                <fieldset>
                                    <legend>Information:</legend>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Voucher No.</label>
                                                @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control", @readonly = true })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Voucher Date</label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                    </div>
                                                    <input type="text" id="PaymentDate" name="PaymentDate" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Payment Type</label>
                                                @Html.DropDownListFor(model => model.PaymentType, PaymentTypeData, new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Payment Mode</label>
                                                @Html.DropDownListFor(model => model.PaymentMode, PaymentMode, new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Payment For</label>
                                                @Html.DropDownListFor(model => model.PaymentFor, PaymentForList, new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentFor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="empname">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Employee Name</label>
                                                @Html.DropDownListFor(model => model.PaymentTo, Model.PaymentToList, "--- Select Name ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentTo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="agencyname">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Agency Name</label>
                                                @Html.DropDownListFor(model => model.AgencyName, Model.AgencyNameList, "--- Select Name ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.AgencyName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="Expid">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Expenditure No.</label>
                                                @Html.DropDownListFor(model => model.ExpID, Model.ExpIDList, "--- Select Exp ID ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.ExpID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="expamount">
                                            <div class="form-group">
                                                <label class="control-label">Expenditure Due Amount</label>
                                                @Html.TextBoxFor(model => model.ExpAmount, new { @class = "form-control text-right", @readonly = true })
                                                @Html.ValidationMessageFor(model => model.ExpAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="advamount">
                                            <div class="form-group">
                                                <label class="control-label">Advance Given</label>
                                                @Html.TextBoxFor(model => model.AdvancedAmount, new { @class = "form-control text-right", @readonly = true, placeholder = "0.00" })
                                                @Html.ValidationMessageFor(model => model.AdvancedAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label astrisk">Amount</label>
                                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control text-right", @type = "number" })
                                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                    </div>
                                </fieldset>

                                @*--------------- Modal For Save ---------------*@
                                <div class="modal" id="submitbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"></h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center">
                                                Do You Want To Save!????
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                <button class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="col-md-12 text-right top30">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                    <button type="button" class="btn btn-success" onclick="fxSubmit()">Submit</button>
                                    <button type="submit" value="Submit" id="btnSubmit" class="btn btn-success" style="display:none" data-toggle="modal" data-target="#submitbutton">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //$("form").attr('autocomplete', 'off');
        $('[data-mask]').inputmask();
        $('.select2').select2();
        $('#agencyname').hide();
        //$('#expamount').hide();
        //$("#advamount").hide();
    });

    $("#PaymentType").change(function(){
        if ($("#PaymentType").val() == 'Advance') {
            $("#ExpID").attr("disabled", true);
        }
        else {
            $("#ExpID").attr("disabled", false);
        }
        
    });

    $("#PaymentFor").change(function () {
        if ($("#PaymentFor").val() == 'Employee') {
            $('#agencyname').hide();
            $('#empname').show();
            $("#ExpAmount").val('');
        }
        else {
            $('#agencyname').show();
            $('#empname').hide();
        }
    })


    $("#ExpID").change(function () {
        $.get("./GetExpendituredata", { Expenditure_No: $("#ExpID").val(), Payment_To: $("#PaymentTo").val(), Payment_For: $("#PaymentFor").val(), Agency: $("#AgencyName").val() }, function (data) {            
            $("#ExpAmount").empty();
            $("#ExpAmount").val(data);
        });
    });

    $("#PaymentTo").change(function () {
        $.get("./GetAdvancedata", { Payment_To: $("#PaymentTo").val() }, function (data) {
            $("#AdvancedAmount").empty();
            $("#AdvancedAmount").val(data);
        });
    });

    $("#PaymentTo").change(function () {
        $.get("./GetAdvanceexpnodata", { Payment_To: $("#PaymentTo").val() }, function (data) {
            $("#ExpID").empty();  
            $("#ExpID").append("<option value=''>-- Select Exp No.--</option>")
            $.each(data, function (index, row) {
                $("#ExpID").append("<option value='" + row.EXPENDITURE_NO + "'>" + row.EXPENDITURE_NO + "</option>")
            });
        });
    });



    $("#AgencyName").change(function () {
        $.get("./GetAdvanceagencydata", { Payment_Agency: $("#AgencyName").val() }, function (data) {
            $("#AdvancedAmount").empty();
            $("#ExpAmount").empty();
            $("#AdvancedAmount").val(data);
        });
    });

    $("#AgencyName").change(function () {
        $.get("./GetAdvanceagencyexpnodata", { Payment_Agency: $("#AgencyName").val() }, function (data) {
            $("#ExpID").empty();
            $("#ExpAmount").empty();
            $("#ExpID").append("<option value=''>-- Select Exp No.--</option>")
            $.each(data, function (index, row) {
                $("#ExpID").append("<option value='" + row.EXPENDITURE_NO + "'>" + row.EXPENDITURE_NO + "</option>")
            });
        });
    });

    $("#Amount").change(function () {
       $(this).val(parseFloat($(this).val()).toFixed(2));
        
    });

    function fxResetFieldValue() {
        location.assign("./PayAmount");
    }

function fxSubmit() {
    if ($("#PaymentType").val() != 'Advance') {
        var a = $("#ExpAmount").val();
        var b = $("#Amount").val();
        var c = $("#AdvancedAmount").val();
        

        if (a == b) {            
            $("#btnSubmit").click();
        }
        else if (c > '0') {
            var d = (parseFloat(b) + parseFloat(c)).toFixed(2);
            
            if (parseFloat(d) >= parseFloat(a)) {
                $("#btnSubmit").click();
            }
            else {
                alert("Paid Amount Should Same as Exp Due Amount & Advance!!!");
            }
        }
        else {
            alert("Paid Amount Should Same as Exp Due Amount!!!");
        }        
    }
    else {
        $("#btnSubmit").click();
    }     
 }

        
            

        
</script>
