﻿@model TEMS_BOL.PayAmountBOL
@{
    ViewBag.Title = "Search Payment";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> PaymentTypeData = new List<SelectListItem>();

    PaymentTypeData.Add(new SelectListItem { Text = "Payment", Value = "Payment" });
    PaymentTypeData.Add(new SelectListItem { Text = "Advance", Value = "Advance" });

    List<SelectListItem> PaymentMode = new List<SelectListItem>();
    PaymentMode.Add(new SelectListItem { Text = "Online", Value = "Online" });
    PaymentMode.Add(new SelectListItem { Text = "Cash", Value = "Cash" });


    List<SelectListItem> PaymentForList = new List<SelectListItem>();
    PaymentForList.Add(new SelectListItem { Text = "Employee", Value = "Employee" });
    PaymentForList.Add(new SelectListItem { Text = "Agency", Value = "Agency" });

}
<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>

<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Search Payment</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Payment</a></li>
                    <li class="breadcrumb-item active">Search</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <div class="row" style="margin: 20px;">
                        <div class="col-12 text-right">
                            <a href="~/Payment/PayAmount" class="btn btn-success"><span> Add Payment</span></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <fieldset>
                                <legend>Search Filter:</legend>
                                @using (Html.BeginForm("SearchPayment", "Payment", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Voucher No.</label>
                                                @Html.TextBoxFor(model => model.VoucherNo, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Voucher Type</label>
                                                @Html.DropDownListFor(model => model.PaymentType, PaymentTypeData, "--- All ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Payment Mode</label>
                                                @Html.DropDownListFor(model => model.PaymentMode, PaymentMode , "--- All ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentMode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Payment For</label>
                                                @Html.DropDownListFor(model => model.PaymentFor, PaymentForList, new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentFor, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="empname">
                                            <div class="form-group">
                                                <label class="control-label">Employee Name</label>
                                                @Html.DropDownListFor(model => model.PaymentTo, Model.PaymentToList, "--- Select Name ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.PaymentTo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3" id="agencyname">
                                            <div class="form-group">
                                                <label class="control-label">Agency Name</label>
                                                @Html.DropDownListFor(model => model.AgencyName, Model.AgencyNameList, "--- Select Name ---", new { @class = "form-control clsDropdown select2" })
                                                @Html.ValidationMessageFor(model => model.AgencyName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>                                        

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>From Date <i class="fa fa-times text-red" onclick="ResetDate()"></i> </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control float-right", placeholder = "From Date" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>To Date </label>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="far fa-calendar-alt"></i>
                                                        </span>
                                                    </div>
                                                    @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control float-right", placeholder = "To Date" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right top30">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                                <button type="submit" class="btn btn-success" id="btnSearch">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>

                    <div class="row hidden">
                        <div class="col-12">
                            <fieldset>
                                <legend>Payment Details List:</legend>
                                <table id="Searchdetailstable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="custom-th text-center">Sl. No.</th>
                                            <th class="custom-th text-center">Voucher No.</th>
                                            <th class="custom-th text-center">Voucher Date</th>
                                            <th class="custom-th text-center">Voucher Type</th>
                                            <th class="custom-th text-center">Payment Mode</th>
                                            <th class="custom-th text-center">Name</th>
                                            <th class="custom-th text-center">Amount</th>
                                            <th class="custom-th text-center">Created On</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TableDataList != null)
                                        {
                                            if (Model.TableDataList.Count > 0)
                                            {
                                                int row = 1;
                                                foreach (var item in Model.TableDataList)
                                                {
                                                    <tr>
                                                        <td class="custom-th text-center">
                                                            @(row)
                                                        </td>
                                                        <td class="custom-th">@(item.VoucherNo == null ? "" : item.VoucherNo)</td>
                                                        <td class="custom-th">@(item.VoucherDate == null ? "" : item.VoucherDate)</td>
                                                        <td class="custom-th">@(item.PaymentType == null ? "" : item.PaymentType)</td>
                                                        <td class="custom-th">@(item.PaymentMode == null ? "" : item.PaymentMode)</td>
                                                        <td class="custom-th">@(item.PaymentTo == null ? "" : item.PaymentTo)</td>
                                                        <td class="custom-th text-right">@(item.Amount.ToString("0.00"))</td>
                                                        <td class="custom-th">@(item.CreatedDate == null ? "" : item.CreatedDate)</td>
                                                    </tr>
                                                    row = row + 1;
                                                }
                                            }
                                            else
                                            {

                                            }
                                        }
                                        else
                                        {

                                        }
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //$("form").attr('autocomplete', 'off');
        $('[data-mask]').inputmask();
        $('.select2').select2();
        $('#agencyname').hide();
    

        $('#Searchdetailstable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true
            
            });
    });

    $("#PaymentType").change(function () {
        if ($("#PaymentType").val() == 'Advance') {
            $("#ExpID").attr("disabled", true);
        }
        else {
            $("#ExpID").attr("disabled", false);
        }

    });

    $("#PaymentFor").change(function () {
        if ($("#PaymentFor").val() == 'Employee') {
            $('#agencyname').hide();
            $('#empname').show();            
        }
        else {
            $('#agencyname').show();
            $('#empname').hide();
        }
    });
    $('#FromDate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2019,
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        locale: {
            format: 'DD-MM-YYYY'
        }
    });
    $('#ToDate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 2019,
        maxYear: parseInt(moment().format('YYYY'), 10) + 1,
        locale: {
            format: 'DD-MM-YYYY'
        }
    });

    $("#VoucherNo").change(function () {
        var a = $("#VoucherNo").val();
        if (a != null || a != "") {
            $("#PaymentType").prop("disabled", true);
            $("#FromDate").prop("disabled", true);
            $("#ToDate").prop("disabled", true);
            $("#PaymentMode").prop("disabled", true);
            $("#PaymentFor").prop("disabled", true);
            $("#PaymentTo").prop("disabled", true);
        }
    });

    function ResetDate() {
        $("#FromDate").val("");
        $('#FromDate').val("01-04-2020");
    }
    function fxResetFieldValue() {
        location.assign("./SearchPayment");
    }

</script>
