﻿@model TEMS_BOL.AddNewUserBOL

@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/layout.cshtml";
}

<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>

<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>New User</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">New</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("AddUser", "Master", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @*--------------- Start 1st Fieldset ---------------*@
                            <fieldset>
                                <legend>Information:</legend>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label astrisk">Email ID</label>
                                            @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", placeholder = "Email ID" })
                                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Enter Name" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", @type = "password" })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label astrisk">Confirm Password</label>
                                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", @type = "password" })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.DropDownListFor(model => model.Role, Model.ListRole, "-- Select Role --", new { @class = "form-control clsDropdown select2" })
                                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.TextBoxFor(model => model.Designation, new { @class = "form-control", placeholder = "Designation" })
                                            @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.DropDownListFor(model => model.Grade, Model.ListGrade, "-- Select Grade --", new { @class = "form-control clsDropdown select2" })
                                            @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FoodingExpense, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.TextBoxFor(model => model.FoodingExpense, new { @class = "form-control", placeholder = "Fooding Expense",@type = "number" })
                                            @Html.ValidationMessageFor(model => model.FoodingExpense, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LodgingExpense, htmlAttributes: new { @class = "control-label astrisk" })
                                            @Html.TextBoxFor(model => model.LodgingExpense, new { @class = "form-control", placeholder = "Lodging Expense", @type = "number" })
                                            @Html.ValidationMessageFor(model => model.LodgingExpense, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                                
                                    <div class="col-md-12 text-right">
                                        <div class="form-group">
                                            @Html.ActionLink("Back", "UserList", null, htmlAttributes: new { @class = "btn btn-info" })
                                            <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                            <button type="submit" class="btn btn-success" @*onclick="fxSubmit()"*@>Save</button>
                                            @*<button type="submit" value="Submit" id="btnSubmit" class="btn btn-success" style="display:none">Save</button>*@
                                        </div>
                                    </div>
                                
                              </fieldset>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $('.select2').select2();

    function fxResetFieldValue() {
        location.assign("./AddUser");
    }
</script>

