﻿@model TEMS_BOL.AddAgencyBOL
@{
    ViewBag.Title = "Agency List";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> StatusList = new List<SelectListItem>();
    StatusList.Add(new SelectListItem { Text = "Active", Value = "True" });
    StatusList.Add(new SelectListItem { Text = "InActive", Value = "False" });
}

<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>

<style>
    fieldset {
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        display: block;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Agency List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Agency</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>
                </div>
                <div class="card-body">
                    <div class="row" style="margin: 20px;">
                        <div class="col-12 text-right">
                            <a href="~/Master/AddAgency" class="btn btn-success"><span> Add Agency</span></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <fieldset>
                                <legend>Search Filter:</legend>
                                @using (Html.BeginForm("AgencyList", "Master", FormMethod.Post))
                                {                                    
                                    <div class="row">
                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>Name</label>
                                                @Html.DropDownListFor(model => model.AgencyName, Model.AgencyNameList, "--- All ---", new { @class = "form-control select2" })
                                            </div>
                                        </div>

                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                @Html.TextBoxFor(model => model.AgencyEmail, new { @class = "form-control", placeholder = "Email ID" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Mobile No.</label>
                                                @Html.TextBoxFor(model => model.AgencyMobileNo, new { @class = "form-control", placeholder = "Agency Mobile No." })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">WhatsApp No.</label>
                                                @Html.TextBoxFor(model => model.AgencyWhatsAppNo, new { @class = "form-control", placeholder = "Agency WhatsApp No." })
                                            </div>
                                        </div>                                        

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Addess</label>
                                                @Html.TextBoxFor(model => model.AgencyAddress, new { @class = "form-control", placeholder = "Agency Addess" })                                                
                                            </div>
                                        </div>

                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>Status</label>
                                                @Html.DropDownListFor(model => model.Status, StatusList, "--- All ---", new { @class = "form-control select2" })
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-right top30">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-danger" onclick="fxResetFieldValue()">Reset</button>
                                                <button type="submit" class="btn btn-success">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                        </div>
                    </div>

                    <div class="row hidden">
                        <div class="col-12">
                            <fieldset>
                                <legend>Agency Details List:</legend>
                                <table class="table table-bordered table-hover" id="Agencytable">
                                    <thead>
                                        <tr>
                                            <th class="custom-th text-center">Sl No.</th>
                                            <th class="custom-th text-center">Name</th>
                                            <th class="custom-th text-center">Email</th>
                                            <th class="custom-th text-center">Mobile No.</th>
                                            <th class="custom-th text-center">WhatsApp No.</th>
                                            <th class="custom-th text-center">Status</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model.AgencyListReportData != null)
                                        {
                                            if (Model.AgencyListReportData.Count > 0)
                                            {
                                                int row = 1;
                                                foreach (var item in Model.AgencyListReportData)
                                                {
                                                    <tr>
                                                        <td class="custom-th text-center"> @(row) </td>
                                                        <td class="custom-th text-center">
                                                            <a href="~/Master/EditAgency?AId=@item.AgencyID">@(item.AgencyName == null ? "" : item.AgencyName)
                                                        </td>
                                                        <td class="custom-th text-center">@(item.AgencyEmail == null ? "" : item.AgencyEmail)</td>
                                                        <td class="custom-th text-center">@(item.AgencyMobileNo == null ? "" : item.AgencyMobileNo)</td>
                                                        <td class="custom-th text-center">@(item.AgencyWhatsAppNo == null ? "" : item.AgencyWhatsAppNo)</td>
                                                        <td class="custom-th text-center">@(item.Status == null ? "" : item.Status)</td>
                                                    </tr>
                                                    row = row + 1;
                                                }
                                            }
                                            else
                                            {

                                            }
                                        }
                                        else
                                        {

                                        }
                                    </tbody>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('.select2').select2();
        $('#Agencytable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true,
            "responsive": true

        });
    });

    function fxResetFieldValue() {
        location.assign("./AgencyList");
    }
</script>

