﻿@model TEMS_BOL.AddAgencyBOL
@{
    ViewBag.Title = "Edit Agency";
    Layout = "~/Views/Shared/layout.cshtml";

    List<SelectListItem> StatusList = new List<SelectListItem>();
    StatusList.Add(new SelectListItem { Text = "Active", Value = "True" });
    StatusList.Add(new SelectListItem { Text = "InActive", Value = "False" });
}


<link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
<script src="~/plugins/moment/moment.min.js"></script>

<!-- Input Masking -->
<script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/dist/js/ExpendPageValidation.js"></script>


<style>
    fieldset {
        display: block;
        margin-inline-start: 2px;
        margin-inline-end: 2px;
        padding-block-start: 0.35em;
        padding-inline-start: 0.75em;
        padding-inline-end: 0.75em;
        padding-block-end: 0.625em;
        min-inline-size: min-content;
        border-width: 2px;
        border-style: groove;
        border-color: threedface;
        border-image: initial;
        width: 100%;
    }

    legend {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        border: none;
        width: auto;
    }
</style>

@*--------------- Start 1st Section ---------------*@
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Edit Agency</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Agency</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div>
</section>
@*--------------- End 1st Section ---------------*@

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p class="text-center text-danger" id="ErrMsg">@Html.Raw(TempData["Message"])</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <fieldset>
                                <legend>Information:</legend>
                                @using (Html.BeginForm("EditAgency", "Master", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        @Html.HiddenFor(model => model.AgencyID)
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Agency Name</label>
                                                @Html.TextBoxFor(model => model.AgencyName, new { @class = "form-control", placeholder = "Agency Name" })
                                                @Html.ValidationMessageFor(model => model.AgencyName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Agency Addess</label>
                                                @Html.TextBoxFor(model => model.AgencyAddress, new { @class = "form-control", placeholder = "Agency Addess" })
                                                @Html.ValidationMessageFor(model => model.AgencyAddress, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Agency Mobile No.</label>
                                                @Html.TextBoxFor(model => model.AgencyMobileNo, new { @class = "form-control", placeholder = "Agency Mobile No." })
                                                @Html.ValidationMessageFor(model => model.AgencyMobileNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Agency WhatsApp No.</label>
                                                @Html.TextBoxFor(model => model.AgencyWhatsAppNo, new { @class = "form-control", placeholder = "Agency WhatsApp No." })
                                                @Html.ValidationMessageFor(model => model.AgencyWhatsAppNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">Agency Email ID</label>
                                                @Html.TextBoxFor(model => model.AgencyEmail, new { @class = "form-control", placeholder = "Agency Email ID" })
                                                @Html.ValidationMessageFor(model => model.AgencyEmail, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3 marButtom-10">
                                            <div class="form-group">
                                                <label>Status</label>
                                                @Html.DropDownListFor(model => model.Status, StatusList, new { @class = "form-control select2" })
                                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    @*--------------- Modal For Save ---------------*@
                                    <div class="modal" id="submitbutton" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    Do You Want To Save Changes???
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                    <button class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </fieldset>
                            @*--------------- Buttons ---------------*@
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <div class="form-group top30">
                                        <a class="btn btn-info" href="javascript:history.go(-1)">Back to List</a>
                                        <button class="btn btn-success" data-toggle="modal" data-target="#submitbutton">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $('.select2').select2();
</script>




